<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application android:allowBackup="true">
        <service android:name="com.midea.light.ai.services.MideaAiService"></service>
        <service android:name="com.midea.light.ai.music.MusicPlayerService"></service>
        <service android:name="com.midea.homlux.ai.services.MideaAiService"></service>
        <service android:name="com.midea.homlux.ai.music.MusicPlayerService"></service>
        <service android:name="com.midea.homlux.ai.services.DDSService" />
    </application>
</manifest>